.table
  .row
    .row-info
    .row-data
      .column A
      .column B
      .column C
  .row
    .row-info 1
    .row-data
      .cell.selected(contenteditable) A1
      .cell(contenteditable) B2
      .cell(contenteditable) C3
  .row
    .row-info 2
    .row-data
      .cell.selected A1
      .cell B2
      .cell C3
