.toolbar
  .button
    i.material-icons format_align_left
  .button
    i.material-icons format_align_center
  .button
    i.material-icons format_align_right
  .button
    i.material-icons format_bold
  .button
    i.material-icons format_italic
  .button
    i.material-icons format_underline
