.dashboard
  .dashboard__header
    h1 !{DATA("dashboard.text1")}
  .dashboard__new
    a.dashboard__create(href="#") !{DATA("dashboard.text2")}
  .dashboard__table
    .dashboard__table-view
      .dashboard__table-header
        span Name
        span Created date
      ul.dashboard__table-list
        li.dashboard__table-record
          a(href="#") Table №1
          strong 12/12/2023
